@charset "UTF-8";
@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #f5f5f5;
  font-family: 'FuturaPT';
  font-size: 17px;
  line-height: 22px;
  color: #282828;
  font-weight: 400;
  position: relative;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}


a:hover {
  color: inherit;
  text-decoration: none;
}


.upr {
  text-transform: uppercase;
}

.und {
  text-decoration: underline;
}

.container {
    max-width: 1170px;
    padding: 0;
}

.prev-left {
  position: absolute;
  z-index: 4;
  width: 8px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../img/br-str.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 10px;
  transform: rotate(180deg);
  outline: none;
  padding: 15px;
  border-radius: 10px;
}

.prev-right {
  position: absolute;
  z-index: 4;
  width: 8px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../img/br-str.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  right: 10px;
  outline: none;
  border-radius: 10px;
  padding: 15px;
}

.prev-right:focus, .prev-left:focus {
  outline: none;
}

.header-top {
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
}

.header-top__city {
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

.header-top__city span {
  font-size: 16px;
  line-height: 21px;
  color: #282828;
  position: relative;
  padding-left: 25px;
}

.header-top__city span:before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  background: url('../img/geo.svg');
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
}

.header-top__city-inn {
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 7px 11px;
  margin-left: 18px;
  width: 120px;
  height: 40px;
  position: relative;
}

.header-top__city-inn a {
  font-size: 14px;
  line-height: 18px;
  color: #282828;
}

.header-top__city-inn svg {
  position: absolute;
  top: 18px;
  right: 10px;
}

.header-top__time {
  position: relative;
  padding-left: 25px;
  font-size: 18px;
  line-height: 23px;
  color: #282828;
  margin: 0;
}

.header-top__time:before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  background: url('../img/time.svg');
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.header-top__tel {
  position: relative;
  padding-left: 10px;
}

.header-top__tel:before {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  background: url('../img/tel.svg');
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
}

.header-top__tel a {
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  color: #282828;
  margin: 0 10px;
  display: inline-block;
  position: relative;
}

.header-top__tel a:last-child:before {
  content: "";
  top: 5px;
  left: -13px;
  width: 1px;
  height: 14px;
  background-color: #A8A8A8;
  position: absolute;
}

.header-top__icon-link {
  background: #56973D;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  padding: 3px 0;
  position: relative;
  margin: 0 7px;
}

.header-top__icon-amount {
  position: absolute;
  top: -8px;
  right: -18px;
  background: #FFD200;
  border-radius: 50px;
  color: #000;
  width: 29px;
  height: 16px;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  padding: 2px 0;
}

.banner-header {
  position: relative;
  height: 114px;
  z-index: 4;
}

.banner-header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 114px;
  background: rgba(0, 0, 0, 0.6);
}

.banner-header__inn {
  display: flex;
  justify-content: space-between;
  min-height: 116px;
  align-items: center;
  position: relative;
}

.banner-header__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.banner-header__link {    
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 18px 20px;  
  display: block;
  text-align: center;
  position: relative;
}

.banner-header__list li {
  background: #56973D;
  margin: 0 8px;
  min-width: 180px;
  border-radius: 5px;
}

.banner-header__list li:nth-child(2) {
   background: #F8990D;
}

.banner-header__list li:nth-child(2):hover {
   background: #56973D;
}

.banner-header__list li:hover {
  background: #F8990D;
  color: #fff;
}

.banner-header__icon-link {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  padding: 12px;
  text-align: center;
  background: #54CC61;
  display: inline-block;
  margin: 0 5px;
}

.banner-block {
  border-radius: 5px;
  background: rgba(248, 153, 13, 0.8);
  max-width: 614px;
  min-height: 315px;
  padding: 27px 30px 32px;
}

.banner-slider__block {
  padding: 136px 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-slider__block {
  z-index: 5;
  overflow: hidden;
  position: relative;
}

.banner-slider__block:focus {
  outline: none;
}

.banner-slider {
  margin-top: -116px;
}

.banner-block__wpr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-block__ttl {
  font-weight: 500;
  font-size: 60px;
  line-height: 50px;
  color: #FFFFFF;
  margin-bottom: 35px;
}

.banner-block__subttl {
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.banner-block__img {
  margin-right: -100px;
}

.banner-block__link {
  background: #FFFFFF;
  border-radius: 5px;
  width: 183px;
  height: 53px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #141414;
  display: block;
  padding: 18px 48px;
}

.banner-block__link:focus {
  outline: none;
}

.slick-dots {
  bottom: 20px!important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0!important;
}

.banner__bottom-menu-wpr {
  background: #56973D;
  min-height: 70px;
}

.banner__bottom-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner__bottom-menu__list {
  list-style: none;
  margin: 0 24px 0 0;
  padding: 0;
  display: flex;
}

.banner__bottom-menu__list .banner__bottom-menu__item {
  padding: 0px;
  border-right: 1px solid #447731;
}

/*.banner__bottom-menu__list .banner__bottom-menu__item:nth-child(odd) {
  background: #E5831E;
}

.banner__bottom-menu__list .banner__bottom-menu__item:nth-child(odd):hover {
  background: #56973D;
}*/

.banner__bottom-menu__link {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 21px 34px;
  display: block;
  position: relative;
}

.banner__bottom-menu__list li:first-child {
  border-left: 1px solid #447731;
}

.banner__bottom-menu__list li:hover {
  background: #E5831E;
  color: #fff;
}

.search-input {
  background: #FFFFFF;
  border-radius: 5px;
  color: #282828;
  font-size: 14px;
  line-height: 18px;
  border: none;
  width: 183px;
  height: 40px;
  padding: 10px 0 10px 20px;
}

.search-input::placeholder {
  color: #282828;
  font-size: 14px;
  line-height: 18px;
}

.search-svg {
  position: absolute;
  top: 9px;
  right: 9px;
}

.banner__bottom-menu__search-index {
  width: 35%;
}

.banner__bottom-menu__search-index .search-input {
  width: 100%;
}

.search-form {
    position: relative;    
}

.search-input:focus {
  outline: none;
}

.advantages {
  padding: 70px 0 40px;
  background: #E5E5E5;
}

.advantages__list {
  justify-content: space-between;
}

.advantages__item {
  max-width: 370px;
  height: 112px;
  padding: 34px 31px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32%;
  margin-bottom: 30px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.advantages__item:before {
  background: #E5831E;
  opacity: 0.8;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
}

.advantages__item:hover::before {
  background: #282828;
}

.advantages__item-img {
  position: relative;
  margin-right: 26px;
}

.advantages__item p {
  position: relative;
  font-weight: 450;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.prev-left__n {
  position: absolute;
  z-index: 4;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  background: #F6F6F6;
  background-image: url(../img/str.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 9px;
  top: -80px;
  right: 43px;
  transform: rotate(180deg);
  outline: none;
  overflow: hidden;
}

.prev-right__n {
  position: absolute;
  z-index: 4;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  background: #F6F6F6;
  background-image: url(../img/str.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 9px;
  top: -80px;
  right: 0px;
  outline: none;
}

.prev-right__n:hover,  .prev-left__n:hover{
  background-image: url(../img/str-w.svg);
  background-color: #56973D;  
}

.prev-right__n:hover {
   transform: rotate(180deg);
}

.prev-left__n:hover{
  transform: rotate(360deg);

}

.prev-left__n:focus, .prev-right__n:focus {
  outline: none;
}

.act-products {
  padding: 65px 0 100px;
  background: #fff;
}

.section-ttl {
  font-weight: 450;
  font-size: 50px;
  line-height: 50px;
  color: #282828;
}

.act-products__item {
  width: 270px;
  background: #F7F7F7;
  border-radius: 5px;
  padding: 20px 10px 23px 20px;
  margin: 0 15px;
  position: relative;
}

.act-products__hit {
  position: absolute;
  top: 15px;
  left: 20px;
  background: #FFD200;
  border-radius: 50px;
  color: #000;
  width: 29px;
  height: 16px;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  padding: 2px 0;
}

.act-products__list {
  margin-top: 48px;
}

.act-products__ttl {
  font-weight: 450;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin: 50px 0 25px;
}

.act-products__priсe {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 0;
}

:focus {
  outline: transparent!important;
}

.act-products__img {
  margin-top: 50px;
  max-width: 244px;
  max-height: 119px;
}

.act-products__img img {
  width: 100%;
}

.news-item {
  max-width: 370px;
  width: 32%;
  margin-bottom: 52px;
}

.news-date {
  font-size: 14px;
  line-height: 18px;
  color: #999999;
  margin-bottom: 19px;
  font-weight: 500;
}

.news-list {
  margin-top: 38px;
  justify-content: space-between;
}

.news-ttl {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 5px;
  font-weight: 500;
  display: block;
  min-height: 52px;
}

.news-ttl:hover {
  color: #56973D;
}

.news-text {
  font-size: 17px;
  line-height: 22px;
  color: #606060;
  margin: 0;
}

.news-index {
  padding-bottom: 8px;
  background: #fff;
}

.seo {
  background: #f5f5f5;
  padding: 56px 0 0;
}

.seo p {
  font-size: 17px;
  line-height: 22px;
  color: #606060;
}

.form {
  position: relative;
  background-color: #f5f5f5;
  max-width: 1920px;
  margin: 75px auto 90px;
}

/*.form:before {
  content: "";
  position: absolute;
  bottom: -59px;
  left: -42px;
  background: url(../img/form-bg2.png) no-repeat;
  background-size: contain;
  width: 559px;
  height: 587px;
  z-index: 3;
}

.form:after {
  content: "";
  position: absolute;
  bottom: -101px;
  right: -224px;
  background: url(../img/form-bg1.png) no-repeat;
  background-size: contain;
  width: 1275px;
  height: 626px;
  z-index: 3;
}*/

.form-inn {
  background: #DD8227;
  padding: 35px 100px 50px;
  text-align: center;
  z-index: 4;
  overflow: hidden;
  position: relative;
}

.form-ttl {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #fff;
}

.form-subttl {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

.form-input {
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 18px;
  color: #282828;
  margin-bottom: 20px;
  max-width: 302px;
  width: 31%;
}

.form-input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #282828;
}

.form-input__wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popup__policy a{
  color: #fff;
  text-decoration: underline;
}

.popup__policy p {
  color: #fff;
}

.popup__policy a:hover {
  text-decoration: underline;
}

.form-btn {
  background: #56973D;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 183px;
  height: 53px;
  padding: 18px 50px;
}

.main-footer {
  background-color: #282828;
  padding: 73px 0 45px;
  z-index: 2;
  position: relative;
}

.footer-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu__ttl {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #999999;
  display: block;  
  margin-bottom: 15px;
}

.footer-menu__ttl:hover {
  color: #56973D;
}

.main-footer__inn {
  justify-content: space-between;
  margin-bottom: 45px;
}

.footer-menu__link {
  font-size: 16px;
  line-height: 21px;
  color: #999999;
  margin-bottom: 5px;
  display: block;
}

.footer-menu__link:hover {
  color: #FFD200;
}

.footer-geo, .footer-time, .footer-shops {
  font-size: 16px;
  line-height: 21px;
  color: #999999;
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  display: block;
}

.footer-geo:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 12px;
  top: 3px;
  left: 0;
  background: url("../img/footer-geo.svg") no-repeat;
}

.footer-time:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 5px;
  left: 0;
  background: url("../img/footer-time.svg") no-repeat;
}

.footer-shops:before {
  position: absolute;
  content: "";
  width: 11px;
  height: 10px;
  top: 5px;
  left: 0;
  background: url("../img/footer-adr.svg") no-repeat;
}

.footer-shops {
  text-decoration: underline;
}

.footer-shops:hover {
  color: #999999;
  text-decoration: none;
}

.footer-copy {
  justify-content: space-between;
  align-items: center;
}

.footer-copy p {
  max-width: 178px;
  font-size: 15px;
  line-height: 19px;
  color: #999999;
  margin: 0;
}

.footer-policy {
  font-size: 15px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #999999;
}

.footer-policy:hover {
  color: #999999;
  text-decoration: none;
}

.footer-icon__link svg {
  fill: #999999;
}

.footer-icon__link svg:hover {
  fill: #117F5A;
}

.footer-icon__link {
  display: inline-block;
  margin: 0 15px;
}

.bread-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding: 30px 0 40px;
  flex-wrap: wrap;
}

.bread-list a {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
}

.bread-list li {
  font-size: 14px;
  line-height: 18px;
  padding-right: 25px;
  position: relative;
}

.bread-list li:after {
  position: absolute;
  content: ">";
  top: 1px;
  right: 7px;
}

.bread-list li:last-child:after {
  display: none;
}

.contacts-block {
  background: #56973D;
  border-radius: 5px;
  padding: 25px 30px 25px 110px;
  display: flex;
  justify-content: space-between;
  margin: 23px 0 45px;
  position: relative;
}

.contacts-block:before {
  position: absolute;
  content: "";
  top: 17px;
  left: 0;
  background: url('../img/cont-bl.svg') no-repeat;
  width: 76px;
  height: 76px;
  background-size: contain;
}

.contacts-block p {
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  max-width: 758px;
  margin: 0;
}

.contacts-block__btn {
  width: 205px;
  height: 53px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #282828;
  padding: 18px 40px;
}

.contacts-inn__city-ttl {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 24px;
}

.contacts-inn__city-link {
  border: none;
  padding: 10px 20px;
  background: #fff;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  line-height: 20.5px;
}

.contacts-inn__city {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-bottom: 50px;
}

.contacts-inn__city-link:hover {
  background: #56973D;
  color: #fff;
}

.contacts-inn__city-link.active {
  background: #56973D;
  color: #fff;
}

.contacts-inn__map {
  width: 100%;
  margin-bottom: 95px;
}

.contacts-inn__map img {
  width: 100%;
}

.contacts-inn__item {
  margin-bottom: 30px;
  display: none;
}

.contacts-inn__adr {
  justify-content: space-between;
}

.contacts-inn__img {
  max-width: 845px;
  width: 72%;
}

.contacts-inn__img img {
  width: 100%;
}

.contacts-inn__adr p {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 22px;
}

.contacts-inn__adr a {
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  display: block;
  margin-bottom: 22px;
}

.contacts-inn__ttl {
  font-weight: 600;
  font-size: 30px!important;
  line-height: 32px!important;
}

.contacts-inn__item.active {
  display: block;
}

.bottom-menu-wpr {
  background: #56973D;
  min-height: 70px;
}

.bottom-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.bottom-menu__list li {
  padding: 23px 0px;
  border-right: 1px solid #447731;
}

.bottom-menu__link {
  font-size: 26px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 20px 22px;
}

.bottom-menu__list li:first-child {
  border-left: 1px solid #447731;
}

.bottom-menu__link:hover {
  background: #E5831E;
  color: #fff;
}

.bottom-menu__catalog p {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 36px 0 0;
}

.bottom-menu__catalog {
  align-items: center;
}

.bottom-menu .search-input {
  width: 240px;
}

.partner-form {
  max-width: 670px;
  display: flex;
  flex-direction: column;
  margin: 50px 0 100px;
}

.partner {
  background: #fff;
  padding: 0 0 100px;
}

.partner-input {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #A8A8A8;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 21px;
  color: #282828;
}

.partner-input::placeholder {
  font-size: 16px;
  line-height: 21px;
  color: #282828;  
}

.partner-textarea {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #A8A8A8;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 21px;
  color: #282828;
}

.policy__text:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    width: 35px;
    height: 35px;
    border: 1px solid #A8A8A8;
    background: #fff;
    border-radius: 5px;
}

.policy__text:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    background: url('../img/gal.svg') no-repeat;
    width: 24px;
    height: 18px;
    opacity: 0;
    transform: scale(0);
    transition: 0.2s;
}

.policy input[type="checkbox"]:checked + .policy__text:after {
    opacity: 1;
    transform: scale(1);
}

.policy .radio {
  display: none;
}

.policy {
    position: relative;
    display: block;
    margin: 30px 0 50px;
}

.policy__text {
    text-align: center;
    padding-left: 28px;
    max-width: 355px;
    font-size: 14px;
    line-height: 18px;
}

.policy__text a {
  color: #282828;
}

.policy__text a:hover {
  text-decoration: none;
}

.policy__btn {
  background: #E5831E;
  border-radius: 5px;
  width: 270px;
  height: 53px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.partnet-reg {
  padding: 90px 0 70px;
}

.partnet-reg__item {
  background: #fff;
  display: flex;
  max-width: 370px;
  width: 32%;
  padding: 20px 50px 20px 0;
  align-items: center;
}

.partnet-reg__list{
  justify-content: space-between;
  margin-top: 42px;
}

.partnet-reg__item p {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
}

.partnet-reg__item img {
  margin-right: 30px;
}

.serv-centr__adr {
  font-size: 20px;
  line-height: 26px;
  color: #000;
  font-weight: 600;
  margin: 36px 0 17px; 
}

.serv-centr {
  font-size: 17px;
  line-height: 22px;
  color: #606060;
  background: #fff;
  padding-bottom: 100px;
}

.serv-centr .dot-n {
  background: #56973D;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}

.serv-centr .dot {
  background: #56973D;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px 0 10px;
}

.serv-centr_block {
  padding: 100px 0 70px;
}

.serv-centr_block-inn {
  padding: 25px;
  background-color: #fff;
  max-width: 470px;
  position: absolute;
  bottom: 55px;
  left: 5px;
  border-radius: 3px;
}

.serv-centr__img {
  text-align: right;
}

.serv-centr_block-inn a {
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  color: #606060;
  display: block;
  margin-bottom: 30px; 
}

.serv-centr_block-inn p {
  font-size: 17px;
  line-height: 30px;
  color: #606060;
}

.serv-centr_block-wpr {
  position: relative;
}

.basket {
  padding-bottom: 90px;
}

.basket-table {
  width: 100%;
  margin-top: 50px;
}

.basket-btn {
  display: flex;
  justify-content: flex-end;
}

.basket-btn__link {
  width: 170px;
  height: 40px;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  background: #fff;
  border-radius: 5px;
  margin: -45px 10px 0;
  padding: 10px 30px;
  text-align: center;
}

.basket-btn__link:hover {
  color: #fff;
  background: #56973D;
}

.basket-table th {
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #282828;
  padding: 10px 0px 17px;
  text-align: center;
}

.basket-table th:first-child {
  text-align: left;
}

.basket-table td {
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 13px 13px;
  text-align: center;
}

.basket-table__art {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin: 15px 0 5px;
  text-align: left;
}

.basket-table__ttl {
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  text-align: left;
}

.basket-table__img {
  width: 107px;
  height: 107px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
}

.basket-table__img img {
  width: 100%;
}

.basket-table__name-text {
  margin-left: 20px;
  max-width: 260px;
}

.basket-table__quantity-btn, .basket-quantity-input {
  border: none;
  background: transparent;
  padding: 0;
}

.basket-quantity {
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 5px;
  width: 97px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  margin: 0 auto;
}

.basket-quantity-input {
  max-width: 40px;
  text-align: center;
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.basket-table__price, .basket-table__total {
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  font-weight: 450;
}

.basket-table__remove {
  border: none;
  background: transparent;
}

.basket-table__remove svg{
  fill: #B9B9B9;
}

.basket-table__remove svg:hover {
  fill: #E5831E;

}

.basket-table {
  margin-bottom: 40px;
}

.basket-amount {
  font-weight: 450;
  font-size: 20px;
  line-height: 35px;
  color: #282828;
  text-align: right;
  margin-bottom: 17px;
}

.basket-link {
  max-width: 371px;
  height: 53px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E5831E;
  border-radius: 5px;
  display: block;
  padding: 18px 20px;
  text-align: center;
  margin: 0 auto;
}

.basket-link:hover {
  color: #fff;
}

.related-products {
  padding: 80px 0 100px;
  background: #fff;
}

.related-products__list {
  margin-top: 42px;
}

.related-products__item {
  max-width: 270px;
  height: 274px;
  background: #F7F7F7;
  border-radius: 5px;
  margin: 0 14px;
  padding: 15px 15px 30px;
}

.related-products__ttl {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #282828;
}

.related-products__price {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #282828;
}

.related-product__h {
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  background: #E5831E;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 11px;
  margin: 0;
}

.related-product__n {
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  background:  #BBC41D;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 11px;
  margin: 0;
}

.related-product__a {
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  background: #56973D;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 11px;
  margin: 0;
}

.ordering {
  padding: 50px 0 0;
}

.ordering-form {
  margin-top: 50px;
  padding-bottom: 100px;
}

.ordering-input {
  max-width: 670px;
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 5px;
  width: 45%;
  display: block;
  height: 40px;
  padding: 10px 20px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 21px;
  color: #282828;
}

.ordering-input::placeholder {
  font-size: 16px;
  line-height: 21px;
  color: #282828;
}

.ordering-label p {
  display: block;
  font-weight: 450;
  font-size: 20px;
  line-height: 35px;
  color: #282828;
  margin-bottom: 8px; 
}

.ordering-label {
  display: block;
}

.ordering-range {
  display: none;     
}

.ordering-range__text {
  position: relative;
  padding-left: 38px;
  font-size: 16px;
  line-height: 21px;
  color: #282828;
  padding-right: 50px;
}

.ordering-range__text:before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 50%;
  width: 23px;
  height: 23px;
}

.ordering-range_wrap {
}

.ordering-range__text:after {
  position: absolute;
  top: 12px;
  left: 7px;
  content: "";
  background: #56973D;
  border: 1px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  opacity: 0;
}

.basket-empty {
  text-align: center;
  padding: 103px 0 117px;
}

.basket-empty .basket-link {
  margin-top: 100px;
  max-width: 301px;
}

.ordering-hap {
  text-align: center;
  padding: 60px 0 100px;
}

.ordering-hap .section-ttl {
  color: #56973D;
}

.ordering-hap p {
  font-size: 30px;
  line-height: 34px;
  margin: 20px auto 40px;
  max-width: 600px;
}

.error-block {
  text-align: center;
  margin-top: -40px;
  padding-bottom: 100px;
}

.error-block p {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  margin: -100px 0 100px;
}

.error-block img {
  display: block;
  width: 100%;
  max-width: 781px;
  margin: 0 auto;
}

.ordering-label label input[type="radio"]:checked + .ordering-range__text:after{
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.ordering-adr__block {
  padding: 38px 0 50px;
  position: relative;
  margin-bottom: 30px;
}

.ordering-adr__block:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #CACACA;
  height: 1px;
  width: 100%;
}

.btn {
  background: #E5831E;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 161px;
  height: 50px;
  text-align: center;
  display: block;
  padding: 16px;
}

.btn:hover {
  color: #fff;
}

.btn-w {
  background: #fff;
  color: #282828;
}

.btn-w:hover {
  background: #E5831E;
  color: #fff;
}

.ordering-adr__item p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.ordering-adr__item span {
  font-weight: 400;
  font-size: 18px;
}

.ordering-adr__item {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  align-items: center;
  position: relative;
}

.ordering-adr__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #CACACA;
  height: 1px;
  width: 100%;
}

.ordering-adr__item:last-child:after {
  background: transparent;
}

.ordering-adr__block-ttl {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 0px;
  font-weight: 450;
}

.ordering-adr__link {
  display: block;
  text-align: right;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  color: #282828;
  margin: -30px 0 14px;
}

.ordering-adr__block-inn p {
  margin-bottom: 5px;
}

.ordering-adr__block-inn {
  margin-bottom: 20px;
}

.ordering-adr__block-inn__ttl {
  font-weight: 600;
}

.ordering-adr__block-inn__ttl span {
  display: block;
  font-size: 14px;
}

.ordering-adr__list {
  font-size: 16px;
  line-height: 35px;
  text-decoration: underline;
  color: #282828;
}

.ordering-form__yur {
  font-size: 20px;
  line-height: 35px;
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.ordering-form__yur:after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #CACACA;
  height: 1px;
  width: 100%;
}

.ordering-form__yur a {
  color: inherit;
  text-decoration: underline;
}

.ordering-form__yur .btn{
  display: inline-block;
  margin-left: 25px;
}


.ordering-form__yur.active {
  display: block;
}

.ordering-form__fiz.active {
  display: block;
}

.ordering-form__yur {
  display: none;
}

.ordering-form__fiz {
  display: none;
}

.ordering-form__deliv.active {
  display: block;
}

.ordering-form__pickup.active {
  display: block;
}

.ordering-form__pickup {
  display: none;
}

.ordering-form__deliv {
  display: none;
}

.ordering-form__nal {
  position: relative;
  padding: 0 0 20px;
  margin:  0 0 40px;
}

.ordering-form__nal:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #CACACA;
  height: 1px;
  width: 100%;
}

.ordering-form__beznal {
  max-width: 667px;
}

.payment .ordering-input {
  width: 57% ;
}

.ordering-form__beznal {
  display: none;
}

.ordering-form__beznal.active {
  display: block;
}

.payment {
  padding: 0 0 100px;
}

.payment-form {
  padding-top: 50px;
}

.table-prod {
  max-width: 667px;
  width: 100%;
}

.table-prod td {
  background: #fff;
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  padding: 12px 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.table-prod__img {  
  background: #fff;
  max-width: 63px; 
}

.table-prod td:nth-child(2) {
  text-align: left;
  max-width: 210px;
}

.table-prod td:nth-child(2) p{
  margin: 0;
}

.table-prod__img img {
  width: 100%;
  width: 69px;
  height: 69px;
  display: block;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
}

.table-prod td span {
  font-weight:400;
  font-size: 16px;
  line-height: 25px;
}

.btn-payment {
  margin: 68px auto 42px;
  width: 300px;
}

.policy-payment {
  max-width: 772px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
}

.policy-payment a {
  color: #282828;
  text-decoration: underline;
}

.policy-payment a:hover {
  text-decoration: none;
}

.order {
  width: 370px;
  height: 290px;
  padding: 48px 23px 56px 28px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  top: 49%;
  right: 7%;
}

.order-block {
  display: flex;
  font-size: 20px;
  line-height: 25px;
  justify-content: space-between;
}

.order-block span {
  text-align: right;
  font-weight: 450;
}

.order-metod {
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 34px;
  margin-bottom: 34px;
  position: relative;
}

.order-metod:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #CACACA;
  height: 1px;
  width: 100%;
}

.order-metod p {
  margin: 0;
}

.catalog {
  padding-bottom: 280px;
}

.catalog-list__wpr {
  display: flex;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 35px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
}

.catalog-item {
  padding: 95px 30px 33px;
  background-color: #fff;
  margin: 15px;
  max-width: 370px;
  position: relative;
  overflow: hidden;
}

.catalog-item__ttl {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #282828;
  position: relative;
}

.catalog-item__ttl:hover {
  color: #56973D;
}


.catalog-item__list {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
}

.catalog-item__list a {
  color: #282828;
  font-size: 18px;
  line-height: 18px;
}

.catalog-item__list a:hover {
  text-decoration: none;
  color: #56973D;
}

.catalog-item__list li {
  position: relative;
  padding-left: 25px;
  margin: 0 0 10px;
}

.catalog-item__list li:before {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";  
  background: #56973D;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.catalog-item__img {
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 162px;
  width: 132px;
}

.products-block {
  padding: 42px 0 50px;
  position: relative;
  background: #fff;
}

.products-block .related-products__list {
  position: relative;
}

.products-block .related-products__list:before {
  position: absolute;
  top: -120px;
  left: 0;
  content: "";
  background: #C6C6C6;
  width: 100%;
  height: 1px;
}

.product {
  background: #fff;
}

.product__ttl {
  margin: 0;
}

.product-serv {
  background: #56973D;
  padding: 10px 0 20px;
}

.product-serv__wpr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-block .related-products__list{
  margin-left: -14px;
  margin-right: 14px;
}

.product-serv__text p {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0;
}

.product-serv__ttl {
  color: #fff;
  font-weight: 450;
  font-size: 50px!important;
  line-height: 50px!important;
  margin-bottom: 16px!important;
}

.product-serv__list {
  display: flex;
  color: #fff;
}

.product-serv__item {
  width: 200px;
  height: 200px;
  background: #61AD43;
  border-radius: 50%;
  margin: 0 25px;
  text-align: center;
  padding: 50px 0;
}

.product-serv__item p {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  margin-top: 10px;
}

.product__ttl {
  font-weight: 450;
  font-size: 50px;
  line-height: 50px;
  color: #282828;
  max-width: 1085px;
}

.product-description {
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  max-width: 570px;
  padding: 30px 50px 0;
  margin-bottom: 53px;
}

.product-slider {
  max-width: 470px;
}

.product-wpr {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.prev-left__p {
  position: absolute;
  z-index: 4;
  width: 10px;
  height: 20px;
  border: none;
  background: transparent;
  background-image: url(../img/srt1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 40%;
  left: -17px;  
  outline: none;
  overflow: hidden;
}

.prev-right__p {
  position: absolute;
  z-index: 4;
  width: 10px;
  height: 20px;
  border: none;
  background: transparent;
  background-image: url(../img/srt1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 40%;
  right: -17px;
  outline: none;
  transform: rotate(180deg);
}

.prev-right__n:hover,  .prev-left__n:hover{
  background-image: url(../img/str-w.svg);
  background-color: #56973D;  
}

.product-desc__prise span {
  font-size: 20px;
  line-height: 30px;
  color: #282828;
}

.product-desc__prise p {
  margin: 0;
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
}

.product-desc__prise-old p {
  margin: 0;
  font-size: 30px;
  line-height: 38px;
  font-weight: 400;
  text-decoration: line-through;
}


.product-desc__prise-old span {
  font-size: 20px;
  line-height: 30px;
  color: #282828;
}

.product-desc__prise-wpr {
  display: flex;
  justify-content: space-between;
}

.product-desc__prise, .product-desc__prise-old {
  min-width: 235px;
}

.product-desc__acz {
  background: #56973D;
  border-radius: 5px;
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 30px;
}
.product-desc__acz p {
  font-weight: 600;
  font-size: 50.1818px;
  line-height: 64px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 15px 0 0;
}

.product-desc__acz span {
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
}

.product-desc__quantity-wpr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-item__quantity {
  width: 97px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-desc__quantity__minus {
  background: transparent;
  color: #B9B9B9;
  border: none;
  font-size: 30px;
  padding: 0 0 0 10px;
}

.product-desc__quantity__plus {
  background: transparent;
  color: #56973D;
  border: none;
  font-size: 30px;
  padding: 0 10px 0 0;
}

.product-desc__quantity__number {
  border: none;
  background: transparent;
  max-width: 45px;
  text-align: center;
}

.product-desc__cart {
  position: relative;
  width: 151px;
  height: 50px;
  background: #E5831E;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  padding: 17px 20px 17px 50px;
}

.product-desc__cart:before {
  content: "";
  position: absolute;
  top: 17px;
  left: 20px;
  background: url('../img/cart-btn.svg');
  background-repeat: no-repeat;
  width: 17px;
  height: 16px;
}

.product-desc__buy-clck {
  font-size: 14px;
  line-height: 40px;
  text-decoration-line: underline;
  color: #282828;
  position: relative;
  padding-left: 50px;
}

.product-desc__buy-clck:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  background: url('../img/bay-click.svg');
  background-repeat: no-repeat;
  width: 21px;
  height: 16px;
}

.product-desc__min {
  font-size: 20px;
  line-height: 26px; 
  padding: 20px 0 28px;
  margin-bottom: 0;
}

.product-desc__link-block:before {
  background: #C4C4C4;
  width: 100%;
  height: 1px;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
}

.product-desc__link-block:after {
  background: #C4C4C4;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  position: absolute;
  content: "";
}

.product-desc__link-block {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px 0;
}

.product-desc__link-block a{
  font-weight: 450;
  font-size: 20px;
  line-height: 30px;
  color: #282828;
  border-bottom: 1px dashed #000000;
}

.product-desc__link-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.product-desc__link-img {
  width: 30px;
  text-align: center;
  margin-right: 30px;
}

.product-desc__text {
  font-size: 20px;
  line-height: 26px; 
  padding: 20px 0 28px;
  margin-bottom: 0;
  max-width: 90%;
  position: relative;
}

.product-desc__text:after {
  position: absolute;
  content: "";
  top: 25px;
  right: -45px;
  width: 34px;
  height: 34px;
  background: url('../img/print.svg');
  background-repeat: no-repeat;
}

.product-slider__prise {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-decoration: underline;
  color: #56973D;
  margin: 33px 0;
  display: block;
  position: relative;
  padding-left: 50px;
}

.product-slider__prise:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url('../img/pdf.svg') no-repeat;
  width: 32px;
  height: 34px;
}

.product-slider__prise:hover {
  color: #56973D;
}

.product-slider__tab-block {
  display: none;
}

.product-slider__tab-block.active {
  display: block;
  padding: 24px 30px;
  background: #F7F7F7;
  border-radius: 5px;
  max-width: 467px;
  margin-top: -7px;
  z-index: 4;
  position: relative;
}

.product-slider__tab-block ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-slider__tab-ttl {
  font-weight: 450;
  font-size: 30px;
  line-height: 35px;
  color: #282828;
  margin-bottom: 10px;
}

.product-slider__tab {
  width: 100%;
}

.product-slider__tab-btn {
  border: 1px solid #F7F7F7;
  background: #F7F7F7;
  border-radius: 5px;
  text-align: center;
  padding: 18px 70px;
  width: 233px;
  z-index: 1;
  position: relative;
}

.product-slider__tab-btn.active {
  border: 1px solid #DEDEDE;
  background: #FFF;
}

.product-slider-for {
  margin-bottom: 30px;
}

.product-image__nav {
  width: 100px!important;
  height: 100px!important;
  background: #F7F7F7;
  border-radius: 5px;
  margin: 0 23px;
  padding: 20px 10px;
}

.product-slider-nav {
  max-width: 440px;
  margin: 0 auto;
}

.product-image {
  background: #F7F7F7;
  border-radius: 5px;
  padding: 23px;
}

.product {
  position: relative;
}

.registr {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.registr__text {
  background: #E5831E;
  border-radius: 5px 0 0 5px;
  padding: 14px 25px;
}

.registr__text p {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0
}

.registr__text span {
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  max-width: 280px;
}

.registr__link {
  background: #56973D;
  border-radius: 5px 0 0 5px;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -5px;
}

.registr__link a {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.private {
  margin-bottom: 100px;
}

.private__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 53px;
  justify-content: center;
}

.private__item {
  width: 31%;
  max-width: 370px;
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 15px;
  padding: 0 30px 30px;
}

.header__menu-toggle {
  display: none;
}

.private__item-ttl {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #282828;
  margin-top: 10px;
}

.private__item:hover .private__item-ttl {
  color: #d8d8d8;
}

.private__item:hover {
  background: #447731;
}

.serv-centr__img-mob {
  display: none;
}

.footer-logo__mob {
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
}

.ordering-map img {
  width: 100%;
}

.about-text {
  font-family: 'OpenSans';
  font-style: italic;
  margin: 33px 0 57px;
}

.about__will-share {
  float: right;
  margin-top: 20px;
}

.about-block {
  display: flex;
  justify-content: space-between;
}

.about {
  padding-bottom: 90px;
}

.about-block__item span {
  color: #56973D;
  font-weight: 900;
  font-size: 50px;
  line-height: 50px;
}

.about-block__item p {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.about-block__item {
  max-width: 521px;
}

.about-block__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.our-brаnds {
  background: #fff;
  padding: 60px 0 97px;
}

.our-brаnds p {
  font-size: 20px;
  line-height: 26px;
  color: #353535;
}

.our-brаnds__item {
  background-size: contain;
  background-repeat: no-repeat;
  width: 160px;
  height: 50px;
  margin: 20px;
  background-position: 50% 50%;
}

.our-brаnds__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -18px;
}

.about-deliv {
  padding: 100px 0;
  background: #E5E5E5;
}

.about-deliv__img {
  margin-top: -100px;
}

.about-deliv__img img {
  width: 100%;
}

.about-deliv__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.about-deliv__item {
  max-width: 370px;
  width: 32%;
  margin: 15px;
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  border-top: 1px solid #C0C0C0;
  padding: 50px 0 0;

}

.about-deliv__item p{
  margin: 0 0 10px;
  font-size: 40px;
  line-height: 40px;
}

.about-deliv__item-n {
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
  color: #56973D;
  padding: 27px 0 0;
  margin: 0;
}

.about-deliv__item span {
  font-size: 20px;
  line-height: 26px;
  display: block;
}

.about-deliv__item-text {
  font-size: 40px;
  line-height: 40px;
  max-width: 410px;
  margin: 0 0 30px;
}

.pagin-block__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination {
  margin: 0 auto;

}

.pagin-block__list a {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  display: block;
  font-weight: 450;
  padding: 4px 10px;
  border-bottom: 3px solid  #f5f5f5;
  margin: 0 2px;
}

.pagin-block__list a:hover {
  border-bottom: 3px solid #E5831E;
}

.pagin-block__btn {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    background: #F6F6F6;
    outline: none;
    margin: 0 25px;
    padding: 10px;
    text-align: center;
}

.pagin-block {
  align-items: center;
}

.pagin-block__btn-prew {
  transform: rotate(180deg);
}

.pagin-block__btn:hover {
  background-color: #56973D;
}

.pagin-block__btn svg {
  display: block;
}

.pagin-block__btn:hover svg path{
  stroke: #fff!important;
}

.articles-img img {
  width: 100%;
}

.articles-img {
  margin: 0 0 15px;
}

.articles {
  padding-bottom: 90px;
}

.news {
  padding-bottom: 90px;
}

.news-inner__img {
  float: left;
  margin: 0 30px 34px 0;
  max-width: 578px;
}

.news-inner__img img {
  width: 100%;
}

.news-inner__wrap {
  padding: 40px 0 55px;
}

.news-inner__wrap p {
  color: #606060;
}

.news-inner__data {
  color: #999!important;
  margin-bottom: 25px;
}

.list-dots {
  padding: 10px 0 15px;
  margin: 0;
  list-style: none;
}

.list-dots li {
  margin: 15px 0;
  color: #606060;
  position: relative;
  padding-left: 35px;
}

.list-dots li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 50%;
  background: #E5831E;
  width: 13px;
  height: 13px;
}

.list-num {
  padding: 10px 0 15px;
  margin: 0;
  list-style: none;
}

.list-num li {
  margin: 15px 0;
  color: #606060;
}

.list-num span {
  color: #56973D;
  margin-right: 30px;
  display: inline-block;
  font-weight: bold;
}

.news-inner__block p {
  color: #fff;
  max-width: 100%;
  font-size: 17px;
}

.news-inner__block {
  padding: 35px 40px 35px 100px;
}

.news-inner__block:before {
    width: 76px;
    height: 86px;
    background-size: cover;
    top: 50px;
}

.news-inner__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news-inner__item {
  width: 48.5%;
  height: auto;
  margin-bottom: 44px;
}

.news-inner__item img {
  width: 100%;
}

.news-inner__item p {
  margin-bottom: 0;
}

.about-img img {
  width: 100%;
}

.about-img {
  max-width: 576px;
}

.header__icon-b2b {
  display: flex;
  align-items: center;
}

.header__icon-b2b__item {
  display: flex;
  color: #fff;
  align-items: center;
  margin: 0 5px;
}

.header__icon-b2b__item p {
  margin: 0;
}

.header__icon-b2b__name {
  font-size: 14px;
  line-height: 18px;
  margin-left: 13px;
}

.header__icon-b2b__amount {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  margin-left: 13px;
}

.search-form__b2b {
  width: 100%;
}

.search-form__b2b .search-input {
  width: 100%;
}

.bottom-menu__search-b2b {
  width: 30%;
}

.news-b2b {
  background-color: #F7F7F7;
  padding: 100px 0 120px;
}

.products-b2b {
  padding: 0 0 80px;
}

.banner-block__b2b {
  max-width: 470px;
  padding: 40px 30px 40px;
}

.banner-block__img-b2b {
    margin-right: 0px;
    max-width: 390px;
}

.banner-block__img-b2b img {
  width: 100%;
}

.man-b2b__block {
  background-color: #fff;
  padding: 25px 30px;
  max-width: 300px;
}

.man-b2b__block-ttl {
  font-weight: 450;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 25px;
}

.man-b2b__block-img img{
  width: 100%;
}

.man-b2b__block-img {
  justify-content: space-between;
  margin-bottom: 25px;
}

.man-b2b__block-tel {
  display: block;
  font-size: 32px;
  line-height: 33px;
  color: #282828;
}

.man-b2b__block-btn {
  display: block;
  width: 242px;
  height: 53px;
  text-align: center;
  background: #56973D;
  border-radius: 5px;
  color: #fff;
  padding: 16px 0;
  margin-top: 22px;
}

.man-b2b__block-btn:hover {
  color: #fff;
}

.man-b2b__block-inn {
  margin-left: 17px;
}

.man-b2b__block-inn p {
 font-weight: 450;
  font-size: 20px;
  line-height: 22px; 
}

.man-b2b__block-inn a {
  font-size: 16px;
  line-height: 25px;
  text-decoration: underline;
  color: #282828;
}

.banner-slider__block-b2b {
  padding: 82px 0 35px;
}

.left-menu {
  width: 86px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 115px;
  left: 0;
  position: absolute;
  z-index: 10;
  bottom: 417px;
}

.left-menu__item {
  width: 86px;
  height: 75px;
  margin-bottom: 1px;  
  background: #F5F5F5;
  padding: 20px 25px;
  display: block;
  text-align: center;
}

.left-menu__img-hover {
  display: none;
}

.left-menu__item-wpr:hover .left-menu__item {
  background: #FFFFFF;
  width: 209px;
  display: flex;
  align-items: center;
}

.left-menu__item-wpr:hover .left-menu__item p{
  color: #000!important;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 0 -13px;
  text-align: left;
}

.left-menu__item:hover  {
  background: #56973D!important;
  width: 209px;
  display: flex;
  align-items: center;
}

.left-menu__item-wpr:hover .left-menu__img-hover{
  display: block;
}

.left-menu__item:hover .left-menu__img {
  display: none;
}

.left-menu__item-wpr:hover .left-menu__item:hover p {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF!important;
  margin: 0 0 0 25px;
  text-align: left;
}

.left-menu__item-wpr {
  position: fixed;
}

.slick-dots li button:before {
  font-size: 13px!important;
}

.slick-dots li.slick-active button:before {
  color: #fff!important;
  width: 19px!important;
  height: 19px!important;
}

.slick-dots li button {
  width: 19px!important;
  height: 19px!important;
  border: 1px solid #fff!important;
  border-radius: 50%!important;
}

.slick-dots li button:before {
  color: transparent!important;
}

.order-status {
  position: fixed;
  z-index: 20;
  right: -3px;
  top: 65%;
  width: 103px;
  height: 111px;  
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;  
  background: #E5831E;
}

.order-status a {
  color: #fff;
  font-size: 25px;
  line-height: 27px;
  padding: 15px;
  display: block;
}

.banner__bottom-menu__list-inn {
  display: none;
}

.banner__bottom-menu__list li {
  position: relative;
}

.banner__bottom-menu__list li:hover .banner__bottom-menu__list-inn {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 20;
  list-style: none;
}

.banner__bottom-menu__link-inn {
  color: #fff;
  display: block;
  font-weight: 450;

  padding: 15px 10px;
}

.banner__bottom-menu__list-inn {
  background: #56973D; 
}

.left-menu__mobile {
  display: none;
}

.icon-b2b {
  position: absolute;
  right: -14px;
  bottom: -10px;
  width: 34px;
  height: 34px;
  background: url(../img/b2b-l.svg) #FFD200;
  background-position: 50% 50%;
  background-size: 40%;
  background-repeat: no-repeat;
  border-radius: 50%;
  padding: 10px;
}

.entry-b2b {
  max-width: 476px;
  text-align: center;
  z-index: 100;
}

.popup-ttl {
  font-weight: 450;
  font-size: 30px;
  line-height: 38px;
  margin: 40px 0 10px;
}

.popup-text {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 25px;
}

.popup-form input {
  border: 1px solid #C9C9C9;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  padding: 11px 22px;
  margin-bottom: 20px;
}

.entry-b2b__link {
  border: 1px solid #343434;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #282828;
  width: 100%;
  padding: 18px 0;
  text-align: center;
  display: block;
}

.popup__btn {
  width: 100%;
  background: #E5831E;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 53px;
  text-align: center;
  border: none;
}

.popup__btn-wpr {
  display: flex;
  align-items: center;
  max-width: 307px;
  margin: 0 auto 20px;
  justify-content: space-between;
}

.popup-form {
  margin-top: 15px;
}

.popup__link {
  color: #282828;
  text-decoration: underline;
  font-size: 14px;
  line-height: 18px;
}

.fancybox-content {
  padding: 40px;
}

.popup__input-wpr {
  display: flex;
  justify-content: space-between;
}

.popup__input-wpr input {
  width: 48%;
}

.popup-form span {
  text-align: left;
  display: block;
  margin-bottom: 10px;
}

.popup__policy-black a {
  color: inherit;
  text-decoration: underline;
}

.popup__policy-black a:hover {
  text-decoration: none;
}

.my-orders__table {
  margin-top: 55px;
  width: 100%;
  border-collapse: separate;
}

.my-orders {
  padding-bottom: 95px;
  background: #fff;
}

.my-orders__table th {
  font-weight: 450;
  font-size: 16px;
  line-height: 35px;
  color: #282828;
  text-align: center;
  padding: 0px 8px 8px;
}

.my-orders__table td:first-child {
  text-align: left;
  border-left: 1px solid #DADADA;
  border-radius: 5px 0 0 5px;

}

.my-orders__table td:last-child {
  border-right: 1px solid #DADADA;
  border-radius: 0 5px 5px 0;
}

.my-orders__table td {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  text-align: center;
  padding: 22px 8px 20px;
  border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DADADA;
  vertical-align: top
}

.my-orders__table td:first-child {
  text-align: left;
}

.my-orders__link-exl {
  width: 30px;
  height: 30px;
  background: #E5831E;
  border-radius: 2.8125px;
  text-align: center;
  display: block;
  margin: 0 2.5px;
}

/*.my-orders__link-exl svg {
  margin-top: -7px;
}*/

.my-orders__link-green {
  width: 30px;
  height: 30px;
  background: #56973D;
  border-radius: 2.8125px;
  text-align: center;
  display: block;
  margin: 0 2.5px;
}

/*.my-orders__link-green svg {
  margin-top: -7px;
}*/

.my-orders__change {
  width: 175px;
  text-align: center;
  padding: 7px;
  color: #fff;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: #F25F60;
  border-radius: 2.8125px;
  display: block;
}

.my-orders__paid {
  width: 175px;
  text-align: center;
  padding: 7px;
  color: #282828;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: #DADADA;
  border-radius: 2.8125px;
  display: block;
}

.my-orders__inproces {
  width: 175px;
  text-align: center;
  padding: 7px;
  color: #fff;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: #E5831E;
  border-radius: 2.8125px;
  display: block;
}

.docs-table td, .docs-table th {
  text-align: left;
}

.docs-table {
  background: #F9F9F9;
  margin-top: 10px;
}

.docs-table th {
  border: none;
}

.docs-table td {
  border-top: none;
  border-bottom: none;
  position: relative;
}

.docs-table td::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 18px;
  width: 1px;
  height: 55%;
  background: #000;
  opacity: 0.2;
}

.docs-table td:first-child::before {
  background: none;
}

.docs-table td:first-child {
  border: none;
}

.docs-table td:last-child {
  border: none;
}

.docs-table tr:nth-child(even) {
  background: #FFF;
}

.table-ttl {
  font-weight: 450;
  font-size: 30px;
  line-height: 35px;
  color: #282828
}

.table-wpr {
  align-items: center;
  margin-top: 35px;
}

.table-wpr__link {
  width: 92px;
  height: 33px;
  background-color: #F8990D;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 8px 0;
  margin: 0 10px;
  border-radius: 3px;
}

.table-wpr__link:hover {
  color: #fff;
}

.table-filter {
  width: 100%;
  justify-content: space-between;
  margin-top: 17px;
  position: relative;
}

.table-filter:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #cacaca;
}

.table-filter__label {
  font-weight: 450;
  font-size: 16px;
  line-height: 35px;
  color: #282828;
  padding-bottom: 8px;
  margin: 0 10px;
}

.table-filter__input {
  background: #FFFFFF;
  border: 0.85px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 4.25px;
  height: 34px;
  width: 100%;
}

.table-filter__label.search {
  width: 40%;
  max-width: 418px;
  margin-left: 0;
}

.table-filter__label.search .table-filter__icon {
  background-size: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  right: 0!important;
  left: 93%;
  height: 32px;
  width: 30px;
  border-left: 1px solid #A8A8A8;
  border-right: transparent; 
}

.table-filter__label.calend .table-filter__icon {
  background-size: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0!important;
  left: 75%;
  height: 32px;
  width: 30px;
  border-left: 1px solid #A8A8A8;
  border-right: transparent; 
}

.table-filter__label.calend {
  width: 120px;
}

.table-filter__icon {
  background-size: 38%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  left: 0;
  height: 32px;
  width: 30px;
  border-right: 1px solid #A8A8A8;
}

.table-filter__wpr {
  position: relative;
}

.table-filter__input[type="date"]{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.table-filter__label.calend .table-filter__wpr {
  background: #FFFFFF;
  border: 0.85px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 4.25px;
  height: 34px;
  width: 100%;
  position: relative;
}

.table-filter__wpr span {
  font-size: 14px;
  line-height: 18px;
  color: #282828;
  padding: 0 8px;
}

.my-compan .docs-table td::before {
  height: 87%;
}

.banner-header__b2b {
  background: url('../img/header-b2b-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.training-list {
  display: flex;
  flex-wrap: wrap;
  padding: 35px 0 95px;
  margin: 0 -15px;
  justify-content: center;
}

.training-item {
  margin: 15px;
  max-width: 270px;
}

.training-img img {
  width: 100%;
}

.training-item p {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding: 15px 0 0;
  margin: 0;
}

.table-filter__wpr select {
  padding-left: 30px;
}

.slick-slide img {
  width: 100%;
}

