@charset "UTF-8";
@import url(../fonts/fonts.css);
body {
  scroll-behavior: smooth;
  background-color: #f5f5f5;
  font-family: 'FuturaPT';
  font-size: 17px;
  line-height: 22px;
  color: #282828;
  font-weight: 400;
  position: relative;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}


a:hover {
  color: inherit;
  text-decoration: none;
}


.upr {
  text-transform: uppercase;
}

.und {
  text-decoration: underline;
}

.container {
    max-width: 1170px;
    padding: 0;
}

.prev-left {
  position: absolute;
  z-index: 4;
  width: 8px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../img/br-str.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  left: 10px;
  transform: rotate(180deg);
  outline: none;
  padding: 15px;
  border-radius: 10px;
}

.prev-right {
  position: absolute;
  z-index: 4;
  width: 8px;
  height: 17px;
  border: none;
  background-color: transparent;
  background-image: url("../img/br-str.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: 50%;
  right: 10px;
  outline: none;
  border-radius: 10px;
  padding: 15px;
}

.prev-right:focus, .prev-left:focus {
  outline: none;
}

.header-top {
  display: flex;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
}

.header-top__city {
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

.header-top__city span {
  font-size: 16px;
  line-height: 21px;
  color: #282828;
  position: relative;
  padding-left: 25px;
}

.header-top__city span:before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  background: url('../img/geo.svg');
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
}

.header-top__city-inn {
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 7px 11px;
  margin-left: 18px;
  width: 120px;
  height: 40px;
  position: relative;
}

.header-top__city-inn a {
  font-size: 14px;
  line-height: 18px;
  color: #282828;
}

.header-top__city-inn svg {
  position: absolute;
  top: 18px;
  right: 10px;
}

.header-top__time {
  position: relative;
  padding-left: 25px;
  font-size: 18px;
  line-height: 23px;
  color: #282828;
  margin: 0;
}

.header-top__time:before {
  position: absolute;
  content: "";
  top: 4px;
  left: 0;
  background: url('../img/time.svg');
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.header-top__tel {
  position: relative;
  padding-left: 10px;
}

.header-top__tel:before {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  background: url('../img/tel.svg');
  background-repeat: no-repeat;
  width: 13px;
  height: 13px;
}

.header-top__tel a {
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  color: #282828;
  margin: 0 10px;
  display: inline-block;
  position: relative;
}

.header-top__tel a:last-child:before {
  content: "";
  top: 5px;
  left: -13px;
  width: 1px;
  height: 14px;
  background-color: #A8A8A8;
  position: absolute;
}

.header-top__icon-link {
  background: #56973D;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  padding: 3px 0;
  position: relative;
  margin: 0 7px;
}

.header-top__icon-amount {
  position: absolute;
  top: -8px;
  right: -18px;
  background: #FFD200;
  border-radius: 50px;
  color: #000;
  width: 29px;
  height: 16px;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  padding: 2px 0;
}

.banner-header {
  position: relative;
  height: 114px;
  z-index: 10;
}

.banner-header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 114px;
  background: rgba(0, 0, 0, 0.6);
}

.banner-header__inn {
  display: flex;
  justify-content: space-between;
  min-height: 116px;
  align-items: center;
  position: relative;
}

.banner-header__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.banner-header__link {
  background: #F8990D;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 18px 20px;
  margin: 0 8px;
}

.banner-header__link:hover {
  background: #56973D;
  color: #fff;
}

.banner-header__icon-link {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  padding: 12px;
  text-align: center;
  background: #54CC61;
  display: inline-block;
  margin: 0 5px;
}

.banner-block {
  border-radius: 5px;
  background: rgba(248, 153, 13, 0.8);
  max-width: 614px;
  min-height: 315px;
  padding: 27px 30px 32px;
}

.banner-slider__block {
  padding: 136px 0 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-slider__block {
  z-index: 5;
  overflow: hidden;
  position: relative;
}

.banner-slider__block:focus {
  outline: none;
}

.banner-slider {
  margin-top: -116px;
}

.banner-block__wpr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-block__ttl {
  font-weight: 500;
  font-size: 60px;
  line-height: 50px;
  color: #FFFFFF;
  margin-bottom: 35px;
}

.banner-block__subttl {
  font-size: 25px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.banner-block__img {
  margin-right: -100px;
}

.banner-block__link {
  background: #FFFFFF;
  border-radius: 5px;
  width: 183px;
  height: 53px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #141414;
  display: block;
  padding: 18px 48px;
}

.banner-block__link:focus {
  outline: none;
}

.slick-dots {
  bottom: 20px!important;
}

.slick-dotted.slick-slider {
  margin-bottom: 0!important;
}

.banner__bottom-menu-wpr {
  background: #56973D;
  min-height: 70px;
}

.banner__bottom-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner__bottom-menu__list {
  list-style: none;
  margin: 0 24px 0 0;
  padding: 0;
  display: flex;
}

.banner__bottom-menu__list li {
  padding: 23px 0px;
  border-right: 1px solid #447731;
}

.banner__bottom-menu__link {
  font-weight: 600;
  font-size: 26px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 20px 15px;
}

.banner__bottom-menu__list li:first-child {
  border-left: 1px solid #447731;
}

.banner__bottom-menu__link:hover {
  background: #E5831E;
  color: #fff;
}

.search-input {
  background: #FFFFFF;
  border-radius: 5px;
  color: #282828;
  font-size: 14px;
  line-height: 18px;
  border: none;
  width: 183px;
  height: 40px;
  padding: 10px 0 10px 20px;
}

.search-input::placeholder {
  color: #282828;
  font-size: 14px;
  line-height: 18px;
}

.search-svg {
  position: absolute;
  top: 9px;
  right: 9px;
}

.search-form {
    position: relative;    
}

.search-input:focus {
  outline: none;
}

.advantages {
  padding: 60px 0 68px;
  background: #E5E5E5;
}

.advantages__list {
  justify-content: space-between;
}

.advantages__item {
  max-width: 370px;
  height: 112px;
  padding: 34px 31px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32%;
  margin-bottom: 30px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.advantages__item:before {
  background: #282828;
  opacity: 0.8;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
}

.advantages__item:hover::before {
  background: #E5831E;
}

.advantages__item-img {
  position: relative;
  margin-right: 26px;
}

.advantages__item p {
  position: relative;
  font-weight: 450;
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.prev-left__n {
  position: absolute;
  z-index: 4;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  background: #F6F6F6;
  background-image: url(../img/str.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 9px;
  top: -80px;
  right: 43px;
  transform: rotate(180deg);
  outline: none;
  overflow: hidden;
}

.prev-right__n {
  position: absolute;
  z-index: 4;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: none;
  background: #F6F6F6;
  background-image: url(../img/str.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 9px;
  top: -80px;
  right: 0px;
  outline: none;
}

.prev-right__n:hover,  .prev-left__n:hover{
  background-image: url(../img/str-w.svg);
  background-color: #56973D;  
}

.prev-right__n:hover {
   transform: rotate(180deg);
}

.prev-left__n:hover{
  transform: rotate(360deg);

}

.prev-left__n:focus, .prev-right__n:focus {
  outline: none;
}

.act-products {
  padding: 68px 0 100px;
  background: #fff;
}

.section-ttl {
  font-weight: 450;
  font-size: 50px;
  line-height: 50px;
  color: #282828;
}

.act-products__item {
  width: 270px;
  background: #F7F7F7;
  border-radius: 5px;
  padding: 20px 10px 23px 20px;
  margin: 0 15px;
  position: relative;
}

.act-products__hit {
  position: absolute;
  top: 15px;
  left: 20px;
  background: #FFD200;
  border-radius: 50px;
  color: #000;
  width: 29px;
  height: 16px;
  text-align: center;
  font-size: 10px;
  line-height: 12px;
  padding: 2px 0;
}

.act-products__list {
  margin-top: 48px;
}

.act-products__ttl {
  font-weight: 450;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin: 50px 0 25px;
}

.act-products__priсe {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
  margin-bottom: 0;
}

:focus {
  outline: transparent!important;
}

.act-products__img {
  margin-top: 50px;
  max-width: 244px;
  max-height: 119px;
}

.act-products__img img {
  width: 100%;
}

.news-item {
  max-width: 370px;
  width: 32%;
  margin-bottom: 52px;
}

.news-date {
  font-size: 14px;
  line-height: 18px;
  color: #999999;
  margin-bottom: 19px;
  font-weight: 500;
}

.news-list {
  margin-top: 38px;
  justify-content: space-between;
}

.news-ttl {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 5px;
  font-weight: 500;
  display: block;
  min-height: 52px;
}

.news-ttl:hover {
  color: #56973D;
}

.news-text {
  font-size: 17px;
  line-height: 22px;
  color: #606060;
  margin: 0;
}

.news {
  padding-bottom: 10px;
  background: #fff;
}

.seo {
  background: #f5f5f5;
  padding: 60px 0 0;
}

.seo p {
  font-size: 17px;
  line-height: 22px;
  color: #606060;
}

.form {
  position: relative;
  background-color: #f5f5f5;
  padding-top: 120px;
  max-width: 1920px;
  margin: 0 auto;
}

.form:before {
  content: "";
  position: absolute;
  bottom: -59px;
  left: -42px;
  background: url(../img/form-bg2.png) no-repeat;
  background-size: contain;
  width: 559px;
  height: 587px;
  z-index: 3;
}

.form:after {
  content: "";
  position: absolute;
  bottom: -101px;
  right: -224px;
  background: url(../img/form-bg1.png) no-repeat;
  background-size: contain;
  width: 1275px;
  height: 626px;
  z-index: 3;
}

.form-inn {
  background: #FFD200;
  padding: 35px 100px 50px;
  text-align: center;
  z-index: 4;
  overflow: hidden;
  position: relative;
}

.form-ttl {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #282828;
}

.form-subttl {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #282828;
}

.form-input {
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 18px;
  color: #282828;
  margin-bottom: 20px;
  max-width: 302px;
  width: 31%;
}

.form-input::placeholder {
  font-size: 14px;
  line-height: 18px;
  color: #282828;
}

.form-input__wrp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popup__policy a{
  color: inherit;
}

.popup__policy a:hover {
  text-decoration: underline;
}

.form-btn {
  background: #E5831E;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 183px;
  height: 53px;
  padding: 18px 50px;
}

.main-footer {
  background-color: #282828;
  padding: 155px 0 66px;
  z-index: 2;
  position: relative;
  margin-top:-10px;
}

.footer-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu__ttl {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #999999;
  display: block;  
  margin-bottom: 15px;
}

.footer-menu__ttl:hover {
  color: #56973D;
}

.main-footer__inn {
  justify-content: space-between;
  margin-bottom: 55px;
}

.footer-menu__link {
  font-size: 16px;
  line-height: 21px;
  color: #999999;
  margin-bottom: 5px;
  display: block;
}

.footer-menu__link:hover {
  color: #FFD200;
}

.footer-geo, .footer-time, .footer-shops {
  font-size: 16px;
  line-height: 21px;
  color: #999999;
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  display: block;
}

.footer-geo:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 12px;
  top: 3px;
  left: 0;
  background: url("../img/footer-geo.svg") no-repeat;
}

.footer-time:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 5px;
  left: 0;
  background: url("../img/footer-time.svg") no-repeat;
}

.footer-shops:before {
  position: absolute;
  content: "";
  width: 11px;
  height: 10px;
  top: 5px;
  left: 0;
  background: url("../img/footer-adr.svg") no-repeat;
}

.footer-shops {
  text-decoration: underline;
}

.footer-shops:hover {
  color: #999999;
  text-decoration: none;
}

.footer-copy {
  justify-content: space-between;
  align-items: center;
}

.footer-copy p {
  max-width: 178px;
  font-size: 15px;
  line-height: 19px;
  color: #999999;
}

.footer-policy {
  font-size: 15px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #999999;
}

.footer-policy:hover {
  color: #999999;
  text-decoration: none;
}

.footer-icon__link svg {
  fill: #999999;
}

.footer-icon__link svg:hover {
  fill: #117F5A;
}

.footer-icon__link {
  display: inline-block;
  margin: 0 15px;
}

.bread-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding: 30px 0 40px;
}

.bread-list a {
  font-size: 14px;
  line-height: 18px;
  color: inherit;
}

.bread-list li {
  font-size: 14px;
  line-height: 18px;
  padding-right: 25px;
  position: relative;
}

.bread-list li:after {
  position: absolute;
  content: ">";
  top: 1px;
  right: 7px;
}

.bread-list li:last-child:after {
  display: none;
}

.contacts-block {
  background: #56973D;
  border-radius: 5px;
  padding: 25px 30px 25px 110px;
  display: flex;
  justify-content: space-between;
  margin: 23px 0 45px;
  position: relative;
}

.contacts-block:before {
  position: absolute;
  content: "";
  top: 17px;
  left: 0;
  background: url('../img/cont-bl.svg') no-repeat;
  width: 76px;
  height: 76px;
  background-size: contain;
}

.contacts-block p {
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  max-width: 758px;
  margin: 0;
}

.contacts-block__btn {
  width: 205px;
  height: 53px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #282828;
  padding: 18px 40px;
}

.contacts-inn__city-ttl {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  margin-bottom: 24px;
}

.contacts-inn__city-link {
  border: none;
  padding: 10px 20px;
  background: #fff;
  border-radius: 5px;
  margin: 5px;
  font-size: 16px;
  line-height: 20.5px;
}

.contacts-inn__city {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-bottom: 50px;
}

.contacts-inn__city-link:hover {
  background: #56973D;
  color: #fff;
}

.contacts-inn__city-link.active {
  background: #56973D;
  color: #fff;
}

.contacts-inn__map {
  width: 100%;
  margin-bottom: 95px;
}

.contacts-inn__map img {
  width: 100%;
}

.contacts-inn__item {
  margin-bottom: 30px;
  display: none;
}

.contacts-inn__adr {
  justify-content: space-between;
}

.contacts-inn__img {
  max-width: 845px;
  width: 72%;
}

.contacts-inn__img img {
  width: 100%;
}

.contacts-inn__adr p {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 22px;
}

.contacts-inn__adr a {
  font-size: 18px;
  line-height: 20px;
  color: inherit;
  display: block;
  margin-bottom: 22px;
}

.contacts-inn__ttl {
  font-weight: 600;
  font-size: 30px!important;
  line-height: 32px!important;
}

.contacts-inn__item.active {
  display: block;
}

.bottom-menu-wpr {
  background: #56973D;
  min-height: 70px;
}

.bottom-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.bottom-menu__list li {
  padding: 23px 0px;
  border-right: 1px solid #447731;
}

.bottom-menu__link {
  font-size: 26px;
  line-height: 28px;
  color: #FFFFFF;
  padding: 20px 22px;
}

.bottom-menu__list li:first-child {
  border-left: 1px solid #447731;
}

.bottom-menu__link:hover {
  background: #E5831E;
  color: #fff;
}

.bottom-menu__catalog p {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 36px 0 0;
}

.bottom-menu__catalog {
  align-items: center;
}

.bottom-menu .search-input {
  width: 240px;
}

.partner-form {
  max-width: 670px;
  display: flex;
  flex-direction: column;
  margin: 50px 0 100px;
}

.partner {
  background: #fff;
  padding: 0 0 100px;
}

.partner-input {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #A8A8A8;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 21px;
  color: #282828;
}

.partner-input::placeholder {
  font-size: 16px;
  line-height: 21px;
  color: #282828;  
}

.partner-textarea {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #A8A8A8;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 21px;
  color: #282828;
}

.policy__text:before {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    width: 35px;
    height: 35px;
    border: 1px solid #A8A8A8;
    background: #fff;
    border-radius: 5px;
}

.policy__text:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    background: url('../img/gal.svg') no-repeat;
    width: 24px;
    height: 18px;
    opacity: 0;
    transform: scale(0);
    transition: 0.2s;
}

.policy input[type="checkbox"]:checked + .policy__text:after {
    opacity: 1;
    transform: scale(1);
}

.policy .radio {
  display: none;
}

.policy {
    position: relative;
    display: block;
    margin: 30px 0 50px;
}

.policy__text {
    text-align: center;
    padding-left: 28px;
    max-width: 355px;
    font-size: 14px;
    line-height: 18px;
}

.policy__text a {
  color: #282828;
}

.policy__text a:hover {
  text-decoration: none;
}

.policy__btn {
  background: #E5831E;
  border-radius: 5px;
  width: 270px;
  height: 53px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.partnet-reg {
  padding: 90px 0 70px;
}

.partnet-reg__item {
  background: #fff;
  display: flex;
  max-width: 370px;
  width: 32%;
  padding: 20px 50px 20px 0;
  align-items: center;
}

.partnet-reg__list{
  justify-content: space-between;
  margin-top: 42px;
}

.partnet-reg__item p {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
}

.partnet-reg__item img {
  margin-right: 30px;
}

.serv-centr__adr {
  font-size: 20px;
  line-height: 26px;
  color: #000;
  font-weight: 600;
  margin: 36px 0 17px; 
}

.serv-centr {
  font-size: 17px;
  line-height: 22px;
  color: #606060;
  background: #fff;
  padding-bottom: 100px;
}

.serv-centr .dot-n {
  background: #56973D;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}

.serv-centr .dot {
  background: #56973D;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 20px 0 10px;
}

.serv-centr_block {
  padding: 100px 0 70px;
}

.serv-centr_block-inn {
  padding: 25px;
  background-color: #fff;
  max-width: 470px;
  position: absolute;
  bottom: 55px;
  left: 5px;
  border-radius: 3px;
}

.serv-centr__img {
  text-align: right;
}

.serv-centr_block-inn a {
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  color: #606060;
  display: block;
  margin-bottom: 30px; 
}

.serv-centr_block-inn p {
  font-size: 17px;
  line-height: 30px;
  color: #606060;
}

.serv-centr_block-wpr {
  position: relative;
}

.basket {
  padding-bottom: 90px;
}

.basket-table {
  width: 100%;
  margin-top: 50px;
}

.basket-btn {
  display: flex;
  justify-content: flex-end;
}

.basket-btn__link {
  width: 170px;
  height: 40px;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  background: #fff;
  border-radius: 5px;
  margin: -45px 10px 0;
  padding: 10px 30px;
  text-align: center;
}

.basket-btn__link:hover {
  color: #fff;
  background: #56973D;
}

.basket-table th {
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: #282828;
  padding: 10px 0px 17px;
  text-align: center;
}

.basket-table th:first-child {
  text-align: left;
}

.basket-table td {
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 13px 13px;
  text-align: center;
}

.basket-table__art {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin: 15px 0 5px;
  text-align: left;
}

.basket-table__ttl {
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  text-align: left;
}

.basket-table__img {
  width: 107px;
  height: 107px;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
}

.basket-table__img img {
  width: 100%;
}

.basket-table__name-text {
  margin-left: 20px;
  max-width: 260px;
}

.basket-table__quantity-btn, .basket-quantity-input {
  border: none;
  background: transparent;
  padding: 0;
}

.basket-quantity {
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 5px;
  width: 97px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
  margin: 0 auto;
}

.basket-quantity-input {
  max-width: 40px;
  text-align: center;
  font-weight: 450;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.basket-table__price, .basket-table__total {
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  font-weight: 450;
}

.basket-table__remove {
  border: none;
  background: transparent;
}

.basket-table__remove svg{
  fill: #B9B9B9;
}

.basket-table__remove svg:hover {
  fill: #E5831E;

}

.basket-table {
  margin-bottom: 40px;
}

.basket-amount {
  font-weight: 450;
  font-size: 20px;
  line-height: 35px;
  color: #282828;
  text-align: right;
  margin-bottom: 17px;
}

.basket-link {
  max-width: 371px;
  height: 53px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #E5831E;
  border-radius: 5px;
  display: block;
  padding: 18px 20px;
  text-align: center;
  margin: 0 auto;
}

.basket-link:hover {
  color: #fff;
}

.related-products {
  padding: 80px 0 100px;
  background: #fff;
}

.related-products__list {
  margin-top: 42px;
}

.related-products__item {
  max-width: 270px;
  height: 274px;
  background: #F7F7F7;
  border-radius: 5px;
  margin: 0 14px;
  padding: 15px 15px 30px;
}

.related-products__ttl {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #282828;
}

.related-products__price {
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #282828;
}

.related-product__h {
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  background: #E5831E;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 11px;
  margin: 0;
}

.related-product__n {
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  background:  #BBC41D;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 11px;
  margin: 0;
}

.related-product__a {
  font-size: 20px;
  line-height: 22px;
  color: #FFFFFF;
  background: #56973D;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 11px;
  margin: 0;
}

.ordering {
  padding: 50px 0 0;
}

.ordering-form {
  margin-top: 50px;
}

.ordering-input {
  max-width: 670px;
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 5px;
  width: 45%;
  display: block;
  height: 40px;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.ordering-label p {
  display: block;
  font-weight: 450;
  font-size: 20px;
  line-height: 35px;
  color: #282828;
  margin-bottom: 8px; 
}

.ordering-label {
  display: block;
}

.ordering-range {
  display: none;     
}

.ordering-range__text {
  position: relative;
  padding-left: 38px;
  font-size: 16px;
  line-height: 21px;
  color: #282828;
  padding-right: 50px;
}

.ordering-range__text:before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  background: #FFFFFF;
  border: 1px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 50%;
  width: 23px;
  height: 23px;
}

.ordering-range_wrap {
}

.ordering-range__text:after {
  position: absolute;
  top: 12px;
  left: 7px;
  content: "";
  background: #56973D;
  border: 1px solid #A8A8A8;
  box-sizing: border-box;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  opacity: 0;
}

.basket-empty {
  text-align: center;
  padding: 103px 0 117px;
}

.basket-empty .basket-link {
  margin-top: 100px;
  max-width: 301px;
}

.ordering-hap {
  text-align: center;
  padding: 60px 0 100px;
}

.ordering-hap .section-ttl {
  color: #56973D;
}

.ordering-hap p {
  font-size: 30px;
  line-height: 34px;
  margin: 20px auto 40px;
  max-width: 600px;
}

.error-block {
  text-align: center;
  margin-top: -40px;
  padding-bottom: 100px;
}

.error-block p {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  margin: -100px 0 100px;
}

.error-block img {
  display: block;
  width: 100%;
  max-width: 781px;
  margin: 0 auto;
}

.ordering-label label input[type="radio"]:checked + .ordering-range__text:after{
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.ordering-adr__block {
  padding: 38px 0 50px;
  position: relative;
}

.ordering-adr__block:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #CACACA;
  height: 1px;
  width: 100%;
}

.btn {
  background: #E5831E;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 161px;
  height: 50px;
  text-align: center;
  display: block;
  padding: 16px;
}

.btn:hover {
  color: #fff;
}

.btn-w {
  background: #fff;
  color: #282828;
}

.btn-w:hover {
  background: #E5831E;
  color: #fff;
}