@media screen and (max-width: 1700px) {

	
}

@media screen and (max-width: 1400px) {
	.catal-dropdown__menu {
		left: 5%;
	}

}

@media screen and (max-width: 1200px) {
	.catal-dropdown__menu-inn {
		width: 80%;
	}
}

@media screen and (max-width: 1024px) {
	.catal-dropdown__menu-inn {
		width: 75%;
	}

	.header-top__tel {
		max-width: 180px;
	}

	.header-top__tel a:last-child:before {
		display: none;
	}

	.banner-header__icon {
		max-width: 130px;
	}

	.banner-header__link {
		padding: 18px 10px;
	}

	.banner__bottom-menu__link {
		font-size: 20px;
    	line-height: 22px;
	}

	.container {
		padding: 0 15px;
	}

	.form:before {
		display: none;
	}

	.form:after{
		display: none;
	}

	.form {
		margin: 50px auto 20px;
		padding-top: 0;
	}

	.advantages__item {
		padding: 34px 25px;
	}

	.advantages__item-img {
		margin-right: 15px;
	}

	.bottom-menu__link {
    	font-size: 22px;
    	line-height: 25px;
	}

	.bottom-menu__catalog p {
		font-size: 20px;
    	line-height: 24px;
    	margin: 0 15px 0 0;
	}

	.about-deliv__item {
		width: 30%;
	}

	.about-block__list {
		width: 40%;
	}

	.left-menu {
		display: none;
	}

	.left-menu__mobile {
  		display: block;
	}

	.left-menu__mobile .left-menu__item-wpr {
    	position: relative;
    	display: flex;
    	flex-wrap: wrap;
    	background: #fff;
    	padding-bottom: 30px;
	}

	.left-menu__mobile .left-menu__item {
    	width: 19%;
    	height: auto;
    	display: block;
    	margin: 1px;
    }

    .left-menu__mobile .left-menu__item p {
    	color: #282828;
    	text-align: center;
    	margin: 15px auto;
    }

    .left-menu__mobile .left-menu__item:hover .left-menu__img-hover {
    	display: block;
    	margin: 0 auto;
    }

    .left-menu__mobile .left-menu__item:hover p {
    	color: #fff;
    }

    .banner-header__icon-link {
    	margin: 2px 5px;
    }

    .private__item {
    	width: 30%;
	}

	.product-description {
		max-width: 515px;
	}

	.product-desc__quantity-wpr span {
		margin: 0 10px;
	}

	.product-desc__cart {
		padding: 17px 14px 17px 42px;
	}

	.product-desc__buy-clck {
		padding-left: 45px;
    	line-height: 20px;
	}

	.order {
		top: 50%;
    	right: 3%;
	}

	.ordering-form__beznal {
    	max-width: 570px;
	}

	.table-prod {
    	max-width: 570px;
	}

}

@media screen and (max-width: 992px) {
	.catal-dropdown__menu {
		display: none!important;
	}

	.banner__bottom-menu__list {
		margin: 0 7px 0 0;
	}

	.product-serv__wpr {
		flex-wrap: wrap;
	}

	.product-serv__text {
		margin-bottom: 15px;
	}

	.product-slider {
    	max-width: 450px;
	}

	.prev-left__p {
		left: 0;
	}

	.prev-right__p {
		right: 0;
	}

}

@media screen and (max-width: 768px) {
	.header-top__city {
		display: none;
	}

	.header-top__time {
		display: none;
	}

	.banner-header__icon {
		display: none;
	}

	.banner-header__inn {
		flex-direction: column;
	}

	.banner__bottom-menu-wpr {
		display: none;
	}

	.advantages__item {
		width: 48%;
	}

	.form-btn {
		margin: 0 auto;
	}

	.footer-address {
		width: 82%;
		margin: 15px auto;
		display: block;
	}

	.main-footer__inn {
    	justify-content: space-around;
    	margin-bottom: 35px;
    }

    .footer-copy__cards {
    	display: block;
    	margin: 0 auto;
    }

    .footer-copy {
    	justify-content: space-around;
	}

	.main-footer {
		padding: 40px 0 25px;
	}

	.banner-header__link {
		height: 53px;
		display: block;
		margin: 7px auto;
		text-align: center;
		width: 292px;
	}

	.banner-header__list {
		flex-direction: column;
	}

	.banner-header__inn {
		min-height: 350px;
    	padding: 15px 0;
	}

	.banner-header:before {
		height: 350px;
	}

	.banner-block__wpr {
		margin-top: 220px;
	}

	.header__menu-toggle { 
	  z-index: 15;
	  display: block;
	  width: 45px;
	  height: 45px;
	  position: absolute;
	  outline-color: transparent;
	  top: 58px;
	  right: 3%;
	  background-color: transparent;
	  border: none;
	}

	.header__menu-toggle:focus {
	  outline: none;
	}

	.header__menu-toggle span::before, span::after {
	  height: 3px;
	  width: 43px;
	  position: absolute;
	  left: 43%;
	  margin-left: -16px;
	  top: -7px;
	  margin-top: -10px;
	  background-color: #fff!important;
	}

	.header__menu-toggle span {
		background-color: transparent;
	}

	.header__menu-toggle span::before {
	  transition: all 0.2s;
	  content: "";
	  margin-top: -4px;
	}

	.header__menu-toggle span::after {
	  transition: all 0.2s;
	  content: "";
	  margin-top: 4px;
	}

	.header__menu-toggle--active span {
	  background-color: transparent;
	}

	.header__menu-toggle--active span::before  {
	  transform: rotate(135deg);
	  margin-top: 0;
	}

	.header__menu-toggle--active span::after {
	  transform: rotate(-135deg);
	  margin-top: 0;
	  background-color: #282828!important;
	}

	.banner-header__img {
		width: 100%;
	}

	.bottom-menu-wpr {
		display: none;
	}

	.banner {
		min-height: 350px;
	}

	.contacts-block {
		flex-wrap: wrap;
		justify-content: center;
		padding: 25px 30px 25px 30px;
	}

	.contacts-block p {
		margin: 20px 0;
	}

	.contacts-block:before {
    	position: relative;
    	background: url(../img/cont-mob.svg) no-repeat;
    }

    .contacts-inn__map {
    	margin-bottom: 35px;
    }

    .contacts-inn__img {
    	width: 100%;
    }

    .banner-header__inner {
    	background-image: url('../img/mob-hed.png');
    	background-repeat: no-repeat;
    	background-size: cover;
    	min-height: 350px;
    	background-position: center center;
    }

    .partner-form {
    	margin: 50px 0 30px;
    }

    .partner {
    	padding: 0 0 30px;
    }

    .partnet-reg__list {
    	flex-wrap: wrap;
    }

    .partnet-reg__item {
    	width: 100%;
    	max-width: 500px;
    	margin: 15px auto;
    }

    .partnet-reg {
    	padding: 40px 0 0px;
	}

	.partnet-reg__item p {
	    font-size: 25px;
    	line-height: 30px;
	}

	.serv-centr__img img {
		width: 100%;
	}

	.serv-centr_block {
    	padding: 50px 0 35px;
	}

	.serv-centr {
		padding-bottom: 50px;
	}

	.serv-centr__img {
		margin-top: 20px;
	}

	.basket-btn {
		justify-content: flex-start;
		margin-left: -10px;
	}

	.basket-btn__link {
		margin: 15px 10px 0;
	}

	.news-inner__img {
    	float: none;
   		margin: 20px auto;
	}

	.news-inner__block:before {
		top: 20px;
	}

	.news-inner__item {
  		width: 100%;
	}

	.news-inner__list-m {
		flex-direction: column-reverse;
	}

	.news-inner__block {
		padding: 10px 20px;
	}

	.about-block {
		flex-wrap: wrap;
		justify-content: center;
	}

	.about-block__list {
    	width: 100%;
    	margin: 20px 0;
    	max-width: 576px;
    }

    .about-block__item {
    	max-width: 100%;
    }

    .about {
    	padding-bottom: 0px;
    }

    .our-brаnds__item {
    	width: 150px;
    }

    .about-deliv {
    	padding: 30px 0;
	}

	.about-deliv__img {
    	margin-top: -35px;
    }

    .about-deliv__item {
    	width: 28%;
    	font-size: 40px;
    	line-height: 45px;
	}

	.left-menu__mobile .left-menu__item {
    	width: 24%;
    }

    .bottom-menu__search-b2b {
    	width: 84%;
	}

	.banner-header__list li {
		margin: 5px 8px;
	}

	.product__ttl {
    	font-size: 35px;
    	line-height: 40px;
	}

	.table-filter {
		justify-content: center;
		flex-wrap: wrap;
	}

	.table-filter__label.search .table-filter__icon {
		left: 90%;
	}

	.table__wrap {
  		overflow-x: scroll;
	}

	.banner-header__b2b {
		background-position: left -40px;
	}
	.private__item {
    	width: 45%;
	}

	.product-wpr {
		flex-wrap: wrap;
		justify-content: center;
	}

	.product-description {
		margin-bottom: 0;
	}

	.product-slider__prise {
		margin: 10px auto 20px;
		max-width: 200px;
	}

	.product-slider__tab-block {
		max-width: 100%!important;
	}

	.catalog-list__wpr {
		flex-wrap: wrap;
		margin: 0;
	}

	.catalog-list {
		width: 100%;
	}

	.catalog-item {
		max-width: 100%;
		margin: 15px 0;
		padding: 25px;
	}

	.catalog-item__ttl br {
		display: none;
	}

	.catalog {
    	padding-bottom: 100px;
	}

	.banner-slider__block-b2b {
		margin-top: 235px;
		padding: 30px 0;
	}

	.banner-slider__b2b .banner-block__wpr {
		margin-top: 0px;
	}

	.ordering-form__beznal {
    	max-width: 100%;
	}

	.table-prod {
    	max-width: 100%;
	}

	.order {
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		margin-top: 20px;
	}

	.payment .ordering-input {
		width: 100%;
		max-width: 100%;
	}

	.payment-form {
    	padding-top: 20px;
	}

	.ordering-form__deliv.active {
		flex-wrap: wrap;
	}

	.ordering-form__deliv-block {
    	width: 100%;
     }

	 .delivery-method {
	 	width: 100%;
	 	position: relative;
	 	margin-top: 40px;
	 }

	 .delivery-method:before {
	 	position: absolute;
	 	top: -10px;
	 	left: 0;
	 	content: "";
	 	width: 100%;
	 	height: 1px;
	 	background: #CACACA;
	 }

	 .header__menu-toggle--active {
	 	top: 0px;
	 }

	 .header__menu-toggle--active span::before {
	 	background-color: #282828!important;
	 }

	.mobile-menu .banner__bottom-menu {
	 	flex-direction: column;
	 	background: #56973D;
	 	padding: 20px 14px;
	 	margin: 0 -15px;
	 }

	.mobile-menu .banner__bottom-menu__list {
		flex-direction: column;
		width: 100%;
    	text-align: center;
    	padding-top: 20px;
	}

	.mobile-menu .banner__bottom-menu__search-index {
		width: 100%;
	}

	.mobile-menu .banner__bottom-menu__item {
		border-right: transparent;
		border-bottom: 1px solid #447731;
		margin: 0 -15px;
	}

	.mobile-menu .banner__bottom-menu__item:first-child {
		border-left: transparent;
		border-top: 1px solid #447731;
	}

	.mobile-menu__logo {
		display: flex;
		justify-content: space-between;
	}

	.mobile-menu__close {
		margin-top: 5px;
	}

	.mobile-menu .header-top__time {
		margin: 20px 0 16px;
	}

	.mobile-menu .header-top__city {
		max-width: 330px;
	}

	.mobile-menu .banner-header__icon {
		margin: 20px 0;
		max-width: 100%;
    	justify-content: center;
	}


}

@media screen and (max-width: 640px) {

}

@media screen and (max-width: 576px) {
 	.banner-block__wpr {
 		flex-wrap: wrap;
 	}

 	.banner-block {
 		margin: 10px auto;
 		max-width: 100%;
    	min-height: auto;
    	padding: 20px 15px 20px;
 	}

 	.banner-block__img img{
 		display: block;
    	width: 70%;
    	margin: 0 auto;
 	}

 	.banner-block__ttl {
    	font-size: 30px;
    	line-height: 35px;
    	margin-bottom: 5px;
	}

	.banner-block__subttl {
    	font-size: 20px;
    	line-height: 26px;
   	 	margin-bottom: 10px;
	}

	.advantages__item p {
		font-size: 22px;
	}

	.section-ttl {
		font-size: 35px;
		line-height: 40px;
	}

	.news-item {
		width: 48%;
	}

	.form-input {
		width: 100%;
		max-width: 100%;
	}

	.form-inn {
		padding: 35px 50px;
	}

	.footer-address {
		width: 88%;
	}

	.footer-icon {
		margin: 20px auto 0;
	}

	.footer-icon__link svg {
    	fill: #999999;
    	width: 60px;
    	height: 30px;
	}

	.footer-copy {
		flex-direction: column-reverse;
		justify-content: center;
	}

	.footer-logo__mob {
		display: flex;
		margin: 15px auto;
		justify-content: space-between;
		max-width: 453px;
		width: 100%;
		align-items: center;
	}

	.main-footer__inn {
    	margin-bottom: 15px;
	}

	.banner-block__img {
    	margin-right: 0;
   	}

   	.serv-centr_block-inn {
   		margin: 15px 0 0;
   		max-width: 100%;
    	position: relative;
    	bottom: 0;
    	left: 0;
   	}

   	.serv-centr__img {
   		display: none;
   	}

   	.serv-centr__img-mob {
   		display: block;
   		max-height: 280px;
    	overflow: hidden;
   	}

   	.serv-centr__img-mob img {
   		width: 100%;
   	}

   	.basket-btn {
   		flex-wrap: wrap;
   	}

   	.basket-btn__link {
   		width: 100%;
   	}

   	.basket-table__wrapper {
   		display: flex;
   		flex-wrap: wrap;
   		margin-bottom: 20px;
   	}

   	.basket-table td {
   		flex-wrap: wrap;
   	}

   	.basket-table thead {
   		display: none;
   	}

   	.basket-empty {
   		padding: 50px 0 70px;
   	}

   	.error-block p {
	    font-size: 25px;
	    line-height: 30px;
	    text-align: center;
	    margin: -30px 0 50px;
	}
	.ordering-hap {
		padding: 30px 0 70px;
	}

	.ordering-input {
		width: 100%;
	}

	.our-brаnds {
		padding: 25px 0;
	}

	.about-deliv__item p {
		font-size: 30px;
    	line-height: 40px;
	}

	.left-menu__mobile .left-menu__item {
    	width: 29%;
    }

    .banner-header__b2b {
    	background-position: left -15px;
    }

    .table-filter__label.search .table-filter__icon {
    	left: 85%;
    }

    .private__item {
    	width: 44%;
    	padding: 0 30px 10px;
	}

	.private__item:last-child{
		width: 100%;
	}

	.private__item-ttl {
		font-size: 26px;
    	line-height: 30px;
	}

	.product-serv__item {
		width: 175px;
	    height: 175px;
	    margin: 0 5px;
	    padding: 35px 0;
	}

	.product-slider__tab-btn {
		width: 50%;
	}

	.product-wpr {
		margin-top: 10px;
	}

	.product-description {
    	max-width: 100%;
	}

	.man-b2b__block {
		margin: 0 auto;
	}

	.table-prod tr {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid #cacaca;
		margin-bottom: 20px;
	}

	.table-prod td {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.table-prod__img {
		width: 100%;
		max-width: 100%;
	}

	.table-prod td:nth-child(2) {
		width: 100%;
		max-width: 100%;
	}

	.table-prod__img img {
		width: 50%;
		height: auto;
		margin: 0 auto;
	}

	.table-prod td:nth-child(3) {
		width: 50%;
	}
	.table-prod td:nth-child(4) {
		width: 50%;
	}

	.basket-table__img {
    	width: 50%;
    	height: auto;
    	margin: 0 auto;
    }

    .basket-table__name-cell {
    	width: 100%!important;
    }

    .basket-table td {
    	width: 50%;    	
    }

    .basket-table__price-cell p {
    	margin-bottom: 0;
    }
    .basket-table__total-cell p {
    	margin-bottom: 0;
    }

    .basket-table__price, .basket-table__total {
    	text-align: left;
    }

    .basket-amount {
    	text-align: left;
    }

    .basket-amount span {
    	display: block;
    }

    .basket-table__name-text {
    	margin-left: 0;
    }

    .basket-quantity {
    	margin: 0;
    }

    .basket-table__total-cell {
    	margin: 1px 0 0;
    }

    .basket-table__remove-cell {
    	padding-top: 17px!important;
    	text-align: right!important;
    	margin: 1px 0 0;
    }

    .delivery-method {
    	max-width: 100%;
	}


}

@media screen and (max-width: 425px) {
	.footer-address {
		display: none;
	}

	.footer-menu {
		max-width: 110px;
	}

	.footer-copy p {
		font-size: 14px;
		line-height: 19px;
	}

	.footer-logo__mob img{
		width: 120px;
	}

	.advantages__item {
    	width: 100%;
    	max-width: 100%;
    }

    .news-item {
    	width: 100%;
    	max-width: 100%;
	}

	.form-inn {
    	padding: 35px 20px;
	}

	.form-ttl {
		font-size: 30px;
		line-height: 30px;
	}

	.form-subttl {
    	font-size: 20px;
    	line-height: 25px;
	}

	.ordering-adr__item {
		flex-wrap: wrap;
	}

	.ordering-adr__item .btn {
		width: 100%;
	}

	.ordering-adr__block .btn {
		width: 100%;
	}

	.ordering-form {
		padding-bottom: 70px;
	}

	.ordering-adr__list {
		display: block;
    	margin: 0 auto 10px;
	}

	.news-inner__wrap {
   		padding: 20px 0 25px;
	}

	.pagin-block__list a {
    	font-size: 16px;
    	padding: 4px 7px;
    }

    .pagin-block__btn {
    	margin: 0 7px;
    }

    .about-block__item p {
    	font-size: 40px;
    	line-height: 45px;
    }

    .about-block__item span {
    	font-size: 40px;
    	line-height: 45px;
    }

    .about-deliv__list {
    	justify-content: center;
    }

    .about-deliv__item {
    	width: 100%;
    	padding: 20px 0 0;
    }

    .left-menu__mobile .left-menu__item {
    	width: 49%;
    }

    .table-filter__label.search {
    	width: 77%;
    	margin-left: 10px;
    }

    .table-filter__label.search .table-filter__icon {
    	left: 88%;
	}

	.table-filter__label.calend {
		width: 142px;
	}

	.table-filter__label {
		width: 142px;
	}

	.private__item {
    	width: 100%;
	}

	.private__list {
		margin-right: 0;
		margin-top: 20px;
	}

	.product-serv__list {
		flex-wrap: wrap;
    	justify-content: center;
	}

	.product-serv__item p {
	    font-size: 20px;
    	line-height: 20px;
    }

    .product-serv__item {
    	margin: 15px 5px;
    	padding: 40px 0;
    }

    .prev-left__p {
    	left: 10px;
	}

	.prev-right__p {
    	right: 12px;
	}

	.product-desc__quantity-wpr {
		flex-wrap: wrap;
	}

	.product-desc__buy-clck {
	    line-height: 38px;
    	display: block;
    	margin: 0 auto;
    }

    .product-description {
    	padding: 20px 20px 0;
    }

    .product-desc__prise-old {
    	min-width: 217px;
	}

	.product-slider__tab-btn {
		padding: 18px 36px;
	}

	.prev-left__n {
		top: -40px;
	}

	.prev-right__n {
		top: -40px;
	}

	.basket-link {
    	max-width: 100%;
    }

}


@media screen and (max-width: 375px) {
	.section-ttl {
    	font-size: 30px;
   	 	line-height: 37px;
	}

	.table-filter__label.search {
    	width: 89%;
	}

	.product-desc__acz {
		flex-wrap: wrap;
		text-align: center;
	}

	.product-desc__prise, .product-desc__prise-old {
    	min-width: 168px;
	}

	.product-slider {
    	max-width: 100%;
	}

	.product-description {
		margin: 20px 0 0;
	}

	.product-image__nav {
		margin: 0 23px;
    	padding: 10px 0px;
    	width: 50px!important;
    	height: 50px!important;
	}

	.prev-left__p {
    	left: 4px;
	}

	.prev-right__p {
    	right: 4px;
	}

	.catalog-item__ttl {
		font-size: 25px;
		line-height: 30px;
	}

	.delivery-method__inn-img {
		position: relative;
		top: -30px;
    	left: 30%;
	}

	.delivery-method__select {
		width: 100%;
	}

}

@media screen and (max-width: 320px) {
	.footer-logo__mob img {
    	width: 100px;
	}

	.header-top__icon-link {
		margin: 0;
	}

	.table-filter__label {
		margin: 0 1px;
	}

	.table-filter__label.search {
    	width: 100%;
    	margin-left: 0;
    }

    .our-brаnds__item {
    	width: 122px;
	}

	.product-desc__prise-wpr {
		flex-wrap: wrap;
	}
}